* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(243, 245, 252, 1);
    font-family: 'Courier New', Courier, monospace
}

main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px 10px;
}


.textos textarea {
    resize: none;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: white;
    margin: 0 auto;
}

#encriptado::placeholder {
    color: #0A3871;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.imagen {
    width: 200px;
    pointer-events: none; 
    position: absolute;
    width: 200px;
    height: 200px;
    top: 40%;
    left: 63%;
    transform: translate(-50%, -50%);
}

#no-encriptado::placeholder {
    color: black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.textos p {
    font-size: 10px;
    padding: 5px 5px;
}

.botones button {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px 10px;
    font-weight: bold;
}

.boton-enc {
    background-color: #0A3871; 
    color:  #D8DFE8;
}

.boton-desenc{
    background-color: #D8DFE8;
    color: #0A3871 ;
}

footer {
    text-align: center;
    padding: 40px;
}