{% extends 'layouts/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
</head>
<body>
    {% block content %}
        <main>
            <section class = 'card'>
                <h1>Projects</h1>

                <ul>
                    {% for p in projects %}
        
                    <li> <a href="{% url 'project_d' p.id %}"> {{p.name}}  </a> </li>
        
                    {% endfor %}
                </ul>
            </section>
        </main>
    {% endblock %}
    
</body>
</html>