
header{
    background-color: #CCCCCC;
    padding: 20px 0;

}

.nav_panel{
    width: 940px;  /*I use this width because is the one that looks better in most of the screens */
    position: relative;
    margin: 0 auto; /* with auto property, the navegador will adjust the position depending on the pixels of the user's device */
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-transform: uppercase; 
    color: black;
    font-weight:bold; /* This tag is used to define the font weight of the text. The font weight specifies how thick or thin characters in text should be displayed. The font weight can be set to a number between 100 to 900 or to one of the following values: normal, bold, bolder, lighter. */
    font-size: 22px;
    text-decoration: none; /* This tag is used to remove the underline from the text. */
    margin: 0 0 0 20px;
}

nav a:hover { /* This tag is used to define the color of the text when the mouse is over the text. */
    color: #c78c19; 
    text-decoration: underline;
}

.product_list {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.product_list li {
    display: inline-block;
    text-align: center;
    width: 30%; /* each element can only use 30% of the slot, it distrubuite the slot considering how much elements do we have */
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;  /* The border of each item will be the limit of the defined slot */
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    border: black 3px solid;
    border-radius: 10px; /* This tag is used to define the radius of the border. */
    /*Va en sentido del reloj, empezando por arriba a la izquierda */
    
}

.product_list li:hover {
    border-color: #c78c19;
}

.product_list li:active { /* This tag is used to define the color of the border when the mouse clic the text. */
    border-color: green;
}

.product_list h2{
    font-size: 30px;
    font-weight: bolder;
}

.product_list li:hover h2 {  
    font-size: 33px; 
}

.p-description { 
    font-size: 18px;
}

.p-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}	