.content{
    display: inline-block;
}

.textos textarea {
    resize: none;
    border-radius: 10px;
    padding: 10px 10px;
}

.botones button {
    border-radius: 10px;
    background-color: blue; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}