body{
    background-color: white;
}

main{
    align-items: center;
}

.content{
    display: inline-block;
}

.textos textarea {
    resize: none;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #CCCCCC;
    margin: 0 auto;
}

.botones button {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(63, 181, 181); 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}