{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = 'stylesheet' href = '{% static 'css/main.css' %}'> 
</head>
<body>

    <header>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="{% url 'create_project' %}">Create Project</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/create_task">Create Task</a></li>
            <li><a href="/info">About</a></li>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>

