/*HEADER*/
.cabecera__container{
    display: flex;
    justify-content: space-between ;
    align-items: center; /*Align items inside a Parent class*/
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}

/*MAIN*/


/*Menu*/
.menu__container{
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center; /*Align items individualy */
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}

/*Superior Section*/
.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap; /*Avoiding a breaking on the elements*/
    overflow: scroll; /*Scroll nav*/
    gap: 15px; /*Adding space between elements*/
}

/*FOOTER*/
.rodapie__container{
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap; /*  */
}

@media (min-width:834px){

    /*HEADER*/
    .cabecera__buscar__item{
        display: block;
    }

    /*FOOTER*/
    .rodapie__container{
        justify-content: space-between;
    }
}