{% extends 'layouts/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    {% block content %}
        <h1>Wolcome to the info page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad repudiandae error autem iste tenetur dolores rem recusandae? Eligendi et enim illum ipsam nesciunt accusamus. Obcaecati fugiat ipsa odit illum quod.</p>
    {% endblock %}
</body>
</html>